<ion-header-bar align-title="center" class="bar-menu">
    <h1 class="title" style="color: #fff;">Login</h1>
</ion-header-bar>
<ion-content class="padding">
    <center>
    <div class="row">
        <div class="col">
            <div class="list padding">
                <img src="../img/logo.jpg" height="188" width="231"/>
            </div>
        </div>
    </div>
    </center>
    <div class="scroll padding">
        <div class="card" style="box-shadow: none;">
            <div class="list">
                <label class="item item-input" style="border-top: 1px solid #ddd;">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="credenciales.email">
                </label>
                <label class="item item-input" style="border-bottom: 1px solid #ddd;">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="credenciales.password">
                </label>
            </div>
        </div>
        <div class="spacer text-center" style="height: 40px;">
            <ion-spinner class="spinner spinner-android" ng-show="loading"></ion-spinner>
        </div>
        <button ng-click="login()" class="button button-block" style="background-color: #00695c; color: #fff;">
            Sign In
        </button>
    </div>
</ion-content>