<ion-modal-view>

    <div class="bar bar-header" style="background-color: #0277bd;">
        <button style="color:#fff;" ng-click="modal.hide()" class="button button-icon ion-chevron-left">
            Cerrar
        </button>
        <h1 class="title" style="color: #fff;">Reporte de Balance</h1>
    </div>

    <ion-content class="padding">
        <br><br><br>
        <div class="datagrid" id="modalBalance">
            <table>
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Costos</th>
                    <th>Gastos</th>
                    <th>Ventas</th>
                    <th>Utilidades</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in costo">
                    <td>{{item.fecha | date}}</td>
                    <td>${{item.totalCostos | number}}</td>
                    <td>${{item.totalGastos | number}}</td>
                    <td>${{item.totalVentas | number}}</td>
                    <td>${{item.utilidad | number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br><br>

        <button class="button icon-left ion-android-print" ng-click="DownloadBalance()">Descargar Pdf</button>
    </ion-content>
</ion-modal-view>