<ion-view view-title="Cambiar Contraseña">
    <ion-content class="padding">
        <br>
        <div class="list card">
            <div class="item">
                <h2 class="titulo">{{nombre}}</h2>
            </div>
            <div class="item item-body">
                <label class="item item-input">
                    <i class="icon ion-locked distancia"></i>
                    <span class="input-label fuente">Contraseña Actual</span>
                    <input type="password" autofocus ng-model="Password.OldPassword">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked distancia"></i>
                    <span class="input-label fuente">Nueva Contraseña</span>
                    <input type="password" ng-model="Password.NewPassword">
                </label>
                <label class="item item-input">
                    <i class="icon ion-locked distancia"></i>
                    <span class="input-label fuente">Repita Contraseña</span>
                    <input type="password" ng-model="Password.NewPassword2">
                </label>
                <br>
                <button class="button button-positive" ng-click="CambiarPassword()" style="background-color: #00695c; color: #fff;">
                    Actualizar
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>