<ion-view view-title="Balance General">
    <ion-content class="padding">
        <br>
        <div class="row">
            <div class="col col-30">
                <label class="item item-input" style="border-top: 1px solid #ddd;">
                    <i class="icon ion-calendar distancia"></i>
                    <span class="input-label">Fecha Inicio</span>
                    <input type="date">
                </label>
            </div>
            <div class="col col-20">
            </div>
        </div>
        <div class="row">
            <div class="col col-30">
                <label class="item item-input" style="border-top: 1px solid #ddd;">
                    <i class="icon ion-calendar distancia"></i>
                    <span class="input-label">Fecha Fin</span>
                    <input type="date">
                </label>
            </div>
            <div class="col col-20">
                <button class="button icon-left ion-search"></button>
            </div>
        </div>
        <div class="card text-center">
            <div class="item item-text-wrap" style="text-align:justify">
                <h2 style="font-weight: bold; color: #666">Balance General</h2>
            </div>
            <div class="row text-left" ng-repeat="item in BalanceGeneral">
                <a class="itemList item-icon-left text-left" style="width: 100%;">
                    <i class="icon ion-checkmark-circled" style="font-size: 18px; color: #666;"></i>
                    <label style="color: #666; font-size: 14px; float: left; font-weight: bold; text-transform: capitalize">{{item.mes}}</label><br>
                    <label style="color: #00ADF9; font-size: 14px; font-weight: bold;">Inversiones</label>
                    <label style="color: #00ADF9; font-size: 14px; float: right; font-weight: bold;">${{item.totalInversiones | number}}</label><br>

                    <label style="color: #d9534f; font-size: 14px; font-weight: bold;">Gastos</label>
                    <label style="color: #d9534f; font-size: 14px; font-weight: bold; float: right;">${{item.totalGastos | number}}</label><br>

                    <label style="color: #5cb85c; font-size: 14px; font-weight: bold;">Ventas</label>
                    <label style="color: #5cb85c; font-size: 14px; float: right; font-weight: bold;">${{item.totalVentas | number}}</label>
                </a>
            </div>
        </div>
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors"
        </canvas>
    </ion-content>
</ion-view>

<!--
<label style="color: #00ADF9; font-size: 14px; float: right; font-weight: bold;">${{item.totalInversiones | number}}</label><br>
                    <label style="color: #d9534f; font-size: 14px; font-weight: bold; float: right;">${{item.totalGastos | number}}</label><br>
                    <label style="color: #5cb85c; font-size: 14px; float: right; font-weight: bold;">${{item.totalVentas | number}}</label>
-->