<ion-view view-title="Reporte de Ventas">
    <ion-content class="padding">
        <br>
        <div class="row">
            <div class="col col-30">
                <label class="item item-input" style="border-top: 1px solid #ddd;">
                    <i class="icon ion-calendar distancia"></i>
                    <span class="input-label">Fecha Inicio</span>
                    <input type="date">
                </label>
            </div>
            <div class="col col-20">
            </div>
        </div>
        <div class="row">
            <div class="col col-30">
                <label class="item item-input" style="border-top: 1px solid #ddd;">
                    <i class="icon ion-calendar distancia"></i>
                    <span class="input-label">Fecha Fin</span>
                    <input type="date">
                </label>
            </div>
            <div class="col col-20">
                <button class="button icon-left ion-search"></button>
            </div>
        </div>

        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors"
        </canvas>
    </ion-content>
</ion-view>