<ion-view view-title="Reportes">
    <ion-content>
        <div class="container padding" style="margin-top: 45px;">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <a style="text-decoration: none; color: #666" ui-sref="app.reporteVentas">
                            <i class="ion ion-arrow-graph-up-right" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">R. Ventas</p>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <a style="text-decoration: none; color: #666" ui-sref="app.reporteGastos">
                            <i class="ion ion-arrow-graph-down-right" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">R. Gastos</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container padding">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <a style="text-decoration: none; color: #666" ui-sref="app.reporteInversiones">
                            <i class="ion ion-trophy" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">R. Inversiones</p>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <a style="text-decoration: none; color: #666" ui-sref="app.BalanceGeneral">
                            <i class="ion ion-stats-bars" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">Balance General</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>