<ion-view view-title="Reporte de Ventas">
    <ion-content class="padding">
        <div class="row">
            <div style="width: 80%">
                <label class="item item-input" style="border-top: 1px solid #ddd;">
                    <i class="icon ion-calendar distancia"></i>
                    <span class="input-label fuente">Fecha Inicio</span>
                    <input type="date" ng-model="Fecha.FechaIni">
                </label>
            </div>
            <div class="col col-20">
                <button class="button icon-left ion-search" ng-click="ReporteVentas();"></button>
            </div>

        </div>
        <div class="row">
            <div style="width: 80%">
                <label class="item item-input" style="border-top: 1px solid #ddd;">
                    <i class="icon ion-calendar distancia"></i>
                    <span class="input-label fuente">Fecha Fin</span>
                    <input type="date" ng-model="Fecha.FechaFin">
                </label>
            </div>
            <div class="col col-20">
                <button class="button icon-left ion-android-print" ng-click="AbrirModalReporte()"></button>
            </div>
        </div>

        <div class="row" ng-if="rol == 'inversionista'" >
            <div style="width: 80%">
                <label class="item item-input">
                    <div class="input-label">
                        Almacen:
                    </div>
                    <select ng-model="reporte.ListadoAlmacenes" ng-options="item as item.nombre for item in almacenes track by item.almacenId">
                    </select>
                </label>
            </div>
        </div>
        <div class="card text-center">
            <div class="item item-text-wrap" style="text-align:justify">
                <h2 style="font-weight: bold; color: #5cb85c">Información General</h2>
            </div>
            <div class="row" ng-repeat="item in ventas">
                <a class="itemList item-icon-left text-left" style="width: 100%;">
                    <i class="icon ion-checkmark-circled" style="font-size: 18px; color: #666;"></i>

                    <label style="color: #666; font-size: 14px; float: left; font-weight: bold; text-transform: capitalize">Fecha</label>
                    <label style="color: #666; font-size: 14px; float: right; font-weight: bold; text-transform: capitalize">{{item.fecha | date: "MMM dd yyyy"}}</label><br>
                    <label style="color: #00ADF9; font-size: 14px; font-weight: bold;">Efectivo</label>
                    <label style="color: #00ADF9; font-size: 14px; float: right; font-weight: bold;">${{item.efectivo | number}}</label><br>

                    <label style="color: rgba(13, 71, 161, 1); font-size: 14px; font-weight: bold;">Bancos</label>
                    <label style="color: rgba(13, 71, 161, 1); font-size: 14px; font-weight: bold; float: right;">${{item.bancos | number}}</label><br>

                    <label style="color: #5cb85c; font-size: 14px; font-weight: bold;">Ventas</label>
                    <label style="color: #5cb85c; font-size: 14px; float: right; font-weight: bold;">${{item.venta | number}}</label>
                </a>
            </div>
        </div><br>

        <div class="row" id="ViewVentasPdf">
            <div class="col">
                <table style="display: none">
                    <caption>Reporte de Ventas de la fecha {{reporte.FechaInicio | date}} a la fecha {{reporte.FechaFin | date}}</caption>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Venta</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr ng-repeat="item in ventas">
                        <td>{{item.mes}}</td>
                        <td>${{item.total | number}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <h1 class="title">{{titulo}}</h1>

        <canvas id="bar" class="chart chart-bar" chart-data="datos"
                chart-labels="labels" chart-options="options" chart-series="series"
                chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors"
        </canvas>

    </ion-content>
</ion-view>