<ion-view view-title="Registro de Cierre" style="color: #fff;">
    <ion-content class="padding">
        <div class="float-button" ng-click="RegistrarCierre()">
	        <span class="height-fix">
	  	        <a class="content">
	    	        <i class="ion-plus"> </i>
	   	        </a>
	        </span>
        </div>
        <div class="list card">
            <div class="item">
                <h2 class="titulo" style="color: #46b8da;">Inversiones</h2>
            </div>
            <div class="item item-body">
                <label class="item item-input">
                    <i class="icon ion-bag distancia"></i>
                    <span class="input-label fuente">Total Plazas</span>
                    <input type="number" autofocus ng-model="Cierre.Costos"
                           ng-change="CalcularTotalInversiones()">
                </label>
                <label class="item item-input">
                    <i class="icon ion-clipboard distancia"></i>
                    <span class="input-label fuente">Total Facturas</span>
                    <input type="number" ng-model="Cierre.Facturas" ng-change="CalcularTotalInversiones()">
                </label>
                <label class="item item-input">
                    <i class="icon ion-compose distancia"></i>
                    <span class="input-label fuente">Total Inversiones</span>
                    <label>{{TotalInversiones}}</label>
                </label>
            </div>
        </div>
        <div class="list card">
            <div class="item">
                <h2 class="titulo" style="color: #d9534f;">Gastos</h2>
            </div>
            <div class="item item-body">
                <label class="item item-input">
                    <i class="icon ion-arrow-graph-down-left distancia"></i>
                    <span class="input-label fuente">Total Gastos</span>
                    <input type="number" ng-model="Cierre.Gastos">
                </label>
            </div>
        </div>
        <div class="list card">
            <div class="item">
                <h2 class="titulo" style="color: #5cb85c;">Ventas</h2>
            </div>
            <div class="item item-body">
                <label class="item item-input">
                    <i class="icon ion-cash distancia"></i>
                    <span class="input-label fuente">Total Efectivo</span>
                    <input type="number" ng-model="Cierre.Efectivo" ng-change="CalcularTotalVentas()">
                </label>
                <label class="item item-input">
                    <i class="icon ion-card distancia"></i>
                    <span class="input-label fuente">Total Bancos</span>
                    <input type="number" ng-model="Cierre.Bancos" ng-change="CalcularTotalVentas()">
                </label>
                <label class="item item-input">
                    <i class="icon ion-arrow-graph-up-right distancia"></i>
                    <span class="input-label fuente">Total Ventas</span>
                    <label>{{TotalVentas}}</label>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>