i.distancia{
    margin-right: 10px;
    font-size: 22px;
}

span.fuente{
    font-size: 15px;
    color: #666;
}

h2.titulo{
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

.logo{
    width: 150px;
}

.imgVenta{
    width: 110%;
    height: 200px;
}

.tabs{
    background-color: #0277bd;
}

.tab-item{
    color: #fff !important;
}

.bar-menu
{
    display: flex;
    transform: translate3d(0,0,0);
    -moz-user-select: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    box-zizing: border-box;
    padding: 5px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*background-color: #0277bd !important;*/
    border-style: none;
    border-bottom: none;
    height: 50px;
    color: #fff;
    background-color: #0277bd;
    border-color: #e42112;
}

.float-button {

    background-color: #0277bd;
    color: white;
    border-radius: 50%;
    /*border-radius:15% 0 0 0;*/
    width: 25px;
    padding: 25px;
    font-size: 25px;
    position: fixed;
    bottom: 15px; /* Adjust height */
    right: 10px; /* Adjust position */
    z-index: 999;
}

.float-button .height_fix {
    margin-top: 100%;
    border: 1px solid red;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -13px;
    color: white;
}

.itemList
{
    background-color: #fff;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 6px;
    font-size: 16px;
    padding-left: 54px;
}

.colorItemMenu
{
    background-color: #455a64 !important;
    color: #fff;
}

.colorIconosMenu
{
    color: #fff;
}

.ItemMenu{
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    font-size: 15px;
    padding-left: 54px;
    text-decoration: none;
}

a.colorItemMenu:hover
{
    background-color: #78909c !important;
    color: #fff;
    cursor: pointer;
}

.sombra
{
    box-shadow: 0 -1px 5px 4px #666666;
    background-color: #0277bd !important
}

.bar-menu
{
    display: flex;
    transform: translate3d(0,0,0);
    -moz-user-select: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    box-zizing: border-box;
    padding: 5px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*background-color: #0277bd !important;*/
    border-style: none;
    border-bottom: none;
    height: 50px;
    color: #fff;
    background-color: #0277bd;
    border-color: #e42112;
}

.thumb
{
    border-radius: 0% 50% 50% 50%;
    position: absolute;
    border: none;
    height: 0;
    border-radius: 50%;
    background-color: #26a69a;
    transform-origin: 50% 50%;
}

.logo {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
}


/*CSS TABLA*/
table {
    font-size: 12px;      width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }